.col1 {
  padding-top: 5%;
  padding-bottom: 5%;
}
.imgDes {
  width: 30px;
  height: 30px;
}
.emilang {
  height: 35px;
}
.imageIlustration img {
  width: 100%;
  height: auto;
}
.ContainerConsultasiWhite {
  background-color: white;
  box-shadow: 2px 2px 5px rgb(41, 40, 40);
}
.ContainerConsultasiWhite:hover {
  background-color: #1c8cc4;
  color: white;
}
.titleHeader {
  animation-delay: 0.2s;
}
.kalimatAjakanheader {
  animation-delay: 1.35s;
}
.ContainerConsultasiWhite {
  animation-delay: 2.7s;
}
.containerConsultasiAndOrder a {
  text-decoration: none;
}
/* responsive */
@media screen and (max-width: 600px) {
  .containerConsultasiAndOrder {
    margin-top: 20px;
  }
  .ContainerConsultasiWhite {
    width: 250px;
  }
  .containerIconTelepon {
    margin-right: 12px;
  }
  .textOrderAndKonsultasi {
    font-size: 14px;
  }
}
@media screen and (min-width: 600px) {
  .containerConsultasiAndOrder {
    margin-top: 30px;
  }
  .ContainerConsultasiWhite {
    width: 250px;
  }
  .containerIconTelepon {
    margin-right: 12px;
  }
  .textOrderAndKonsultasi {
    font-size: 14px;
  }
}
