.col1 {
  padding-top: 10%;
  padding-bottom: 5%;
}
.col2 {
  padding-top: 8%;
}
.imgDes {
  width: 30px;
  height: 30px;
}

.gemilang {
  background: linear-gradient(
    19deg,
    rgba(195, 22, 132, 1) 30%,
    rgba(255, 181, 0, 1) 82%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.imageIlustration img {
  width: 100%;
  height: auto;
}
.ContainerConsultasiWhite {
  background-color: white;
  box-shadow: 2px 2px 5px rgb(41, 40, 40);
}
.ContainerConsultasiWhite:hover {
  background-color: #1c8cc4;
  color: white;
}
.titleHeader {
  animation-delay: 0.2s;
}
.kalimatAjakanheader {
  animation-delay: 1.35s;
}
.ContainerConsultasiWhite {
  animation-delay: 2.7s;
}
.containerConsultasiAndOrder a {
  text-decoration: none;
}
/* responsive */
@media screen and (max-width: 600px) {
  .col1 {
    padding-top: 30%;
  }
  .containerConsultasiAndOrder {
    margin-top: 20px;
  }
  .ContainerConsultasiWhite {
    width: 250px;
  }
  .containerIconTelepon {
    margin-right: 12px;
  }
  .textOrderAndKonsultasi {
    font-size: 14px;
  }
}
@media (min-width: 600px) and (max-width: 992px) {
  .col1 {
    padding-top: 20%;
  }
  .containerConsultasiAndOrder {
    margin-top: 30px;
  }
  .ContainerConsultasiWhite {
    width: 250px;
  }
  .containerIconTelepon {
    margin-right: 12px;
  }
  .textOrderAndKonsultasi {
    font-size: 14px;
  }
}
@media screen and (min-width: 992px) {
  .containerConsultasiAndOrder {
    margin-top: 30px;
  }
  .ContainerConsultasiWhite {
    width: 250px;
  }
  .containerIconTelepon {
    margin-right: 12px;
  }
  .textOrderAndKonsultasi {
    font-size: 14px;
  }
}
