.garisbawah {
  width: 100px;
  height: 5px;
}
.card img {
  width: 150px;
  height: 150px;
}
.backgroundDes {
  background-color: rgb(86, 241, 228);
}
.backgroundDes p {
  font-style: oblique;
}
.containerKeunggulan {
  position: relative;
  height: auto;
  padding-top: 8rem;
}
